<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>
    <property name="fileExtensions" value="java"/>

    <module name="FileTabCharacter"/>

    <module name="LineLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package.*|^import.*"/>
    </module>

    <module name="NewlineAtEndOfFile"/>

    <module name="TreeWalker">

        <!-- Annotations -->
        <module name="AnnotationLocation"/>

        <!-- Block Checks -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>
        <module name="RightCurly"/>

        <!-- Class Design -->
        <module name="OneTopLevelClass"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>

        <!-- Coding -->
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="EmptyStatement"/>
        <module name="MissingSwitchDefault"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="OneStatementPerLine"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <module name="VariableDeclarationUsageDistance"/>

        <!-- Headers -->
        <!-- Nothing -->

        <!-- Imports -->
        <module name="AvoidStarImport">
            <property name="excludes" value="
                java.util.stream.Collectors.*,
                org.assertj.core.api.Assertions.*,
                org.mockito.Mockito.*,
                 org.mockito.ArgumentMatchers.*,
                com.company.wishlist.core.DomainTestResources.*,
                com.company.wishlist.core.customer.UseCaseTestResources.*,
                com.company.wishlist.adapter.input.springrestcontroller.InputTestResources.*,
                com.company.wishlist.adapter.output.jpapostgresrepository.JPAOutputTestResources.*,
                com.company.wishlist.adapter.output.productrestclient.RestClientOutputTestResources.*,
                com.company.wishlist.adapter.output.rediscache.RedisOutputTestResources.*"/>
        </module>
        <module name="AvoidStaticImport">
            <property name="excludes" value="
                java.util.stream.Collectors.*,
                org.assertj.core.api.Assertions.*,
                org.mockito.Mockito.*,
                 org.mockito.ArgumentMatchers.*,
                com.company.wishlist.core.DomainTestResources.*,
                com.company.wishlist.core.customer.UseCaseTestResources.*,
                com.company.wishlist.adapter.input.springrestcontroller.InputTestResources.*,
                com.company.wishlist.adapter.output.jpapostgresrepository.JPAOutputTestResources.*,
                com.company.wishlist.adapter.output.productrestclient.RestClientOutputTestResources.*,
                com.company.wishlist.adapter.output.rediscache.RedisOutputTestResources.*"/>
        </module>
        <module name="CustomImportOrder">
            <property name="customImportOrderRules"
                      value="SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE###STANDARD_JAVA_PACKAGE###STATIC"/>
            <property name="specialImportsRegExp" value="^com\.company\."/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="true"/>
        </module>
        <module name="UnusedImports"/>

        <!-- Javadoc Comments -->
        <!-- Nothing -->

        <!-- Metrics -->
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity">
            <property name="excludedPackages" value="
                io.swagger.v3.oas.annotations,
                io.swagger.v3.oas.annotations.media,
                io.swagger.v3.oas.annotations.responses,
                io.swagger.v3.oas.annotations.tags"
            />
        </module>
        <module name="CyclomaticComplexity"/>
        <module name="JavaNCSS"/>
        <module name="NPathComplexity"/>

        <!-- Miscellaneous -->
        <module name="ArrayTypeStyle"/>
        <module name="CommentsIndentation"/>
        <module name="FinalParameters"/>
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="4"/>
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="4"/>
            <property name="lineWrappingIndentation" value="4"/>
            <property name="arrayInitIndent" value="8"/>
        </module>
        <module name="NoCodeInFile"/>
        <module name="OuterTypeFilename"/>
        <module name="UpperEll"/>

        <!-- Modifiers -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- Naming Conventions -->
        <module name="AbbreviationAsWordInName">
            <property name="ignoreFinal" value="false"/>
            <property name="allowedAbbreviationLength" value="4"/>
        </module>
        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName"/>
        <module name="ConstantName"/>
        <module name="IllegalIdentifierName"/>
        <module name="InterfaceTypeParameterName"/>
        <module name="LambdaParameterName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodTypeParameterName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="PatternVariableName"/>
        <module name="RecordComponentName"/>
        <module name="RecordTypeParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Regexp -->
        <module name="Regexp">
            <property name="id" value="RegexNoSystemUse"/>
            <property name="format" value="System\."/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Size Violations -->
        <module name="ExecutableStatementCount"/>
        <module name="LambdaBodyLength"/>
        <module name="MethodCount"/>
        <module name="MethodLength"/>
        <module name="OuterTypeNumber"/>
        <module name="ParameterNumber"/>
        <module name="RecordComponentNumber"/>

        <!-- Whitespace -->
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoLineWrap"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap">
            <property name="option" value="EOL"/>
        </module>
        <module name="ParenPad"/>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapDot"/>
            <property name="tokens" value="DOT"/>
            <property name="option" value="NL"/>
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapComma"/>
            <property name="tokens" value="COMMA"/>
            <property name="option" value="EOL"/>
        </module>
        <module name="SingleSpaceSeparator"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
    </module>
</module>
